a{
    color: #F0D1E8;
    text-decoration: none;
}
a:hover {
    color: #A9D6E8;
}
body {
    background-color: #111;
    color: #FFF;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}